@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
}

body {
	background: #f5f5f5;
}

.Jcart-Box {
	width: 1228px;
	height: auto;
	background: #FFF;
	margin: 40px auto;
	border-top: 1px solid #DDD;
}

.cart-goods-list {
	width: 1228px;
	height: auto;
	box-shadow: 8px 8px 8px #ccc;
	-moz-box-shadow: 8px 8px 8px #ccc;
	-ms-box-shadow: 8px 8px 8px #ccc;
	-o-box-shadow: 8px 8px 8px #ccc;
	-webkit-box-shadow: 8px 8px 8px #ccc;
}

.cart-goods-list .list-head {
	width: 1228px;
	height: 70px;
	line-height: 70px;
	color: #424242;
	background: #fff;
}

/*列表头部css样式*/
.cart-goods-list .list-head .col {
	float: left;
}
/*全选部分*/
.cart-goods-list .col-check {
	width: 110px;
}

/*图片部分*/
.cart-goods-list .col-img {
	width: 120px;
	margin-left: 40px;
}
/*商品名称部分*/
.cart-goods-list .col-name {
	width: 450px;
}
/*商品单价部分*/
.cart-goods-list .col-price {
	width: 75px;
	text-align: right;
	padding-right: 84px;
}
/*商品数量部分*/
.cart-goods-list .col-num {
	width: 150px;
	text-align: center;
}
/*商品小计部分*/
.cart-goods-list .col-total {
	width: 120px;
	text-align: right;
	padding-right: 81px;
}
/*商品操作部分*/
.cart-goods-list .col-action {
	width: 106px;
	text-align: center;
}

/*列表身体部分*/
.cart-goods-list .list-body {
	width: 1228px;
	height: auto;
}

.cart-goods-list .item-box {
	width: 1228px;
	height: 117px;
	border-top: 1px solid #e0e0e0;
}
/*一条商品记录的样式*/
.item-table {
	width: 1228px;
	height: 86px;
	margin-top: 15px;
}

.cart-goods-list .item-table .item-row {
	width: 1228px;
	height: 117px;
}

.cart-goods-list .item-table .col {
	vertical-align: middle;
	float: left;
}

.col-name .name {
	line-height: 1px;
	margin-top: 38px;
	font-size: 17px;
	font-weight: normal;
}

.col-name .name a {
	color: #424242;
	font-size: 17px;
	text-decoration: none;
}

.col-img img:hover {
	transform: translateY(-1px);
	/*box-shadow:0 0 2px #ccc;
	-moz-box-shadow:0 0 2px #ccc;
	-ms-box-shadow:0 0 2px #ccc;
	-o-box-shadow:0 0 2px #ccc;
	-webkit-box-shadow:0 0 2px #ccc;*/
}

.col-name .name a:hover {
	color: #f03;
}

.col-action a {
	font-size: 16px;
	text-decoration: none;
	color: #424242;
}

.col-action a:hover {
	color: #f33;
}

.cart-goods-list .item-row .col-check {
	margin-top: 30px;
	color: #424242;
}

.cart-goods-list .item-row .col-price {
	margin-top: 30px;
	margin-left: 0px;
	text-align: center;
	color: #424242;
	text-align: center;
}

.cart-goods-list .item-row .col-num {
	margin-top: 30px;
	color: #424242;
}

.cart-goods-list .item-row .col-total {
	margin-top: 30px;
	color: #F03;
}

.cart-goods-list .item-row .col-action {
	margin-top: 30px;
	color: #424242;
}

/*raise-tobuy*/
.raise-tobuy {
	width: 1228px;
	height: 20px;
	background: #f5f5f5;
}

/*下方的结算部分*/
.cart-bar {
	width: 1228px;
	height: 50px;
	display: block;
	box-shadow: 8px 2px 8px #ccc;
	-moz-box-shadow: 8px 2px 8px #ccc;
	-ms-box-shadow: 8px 2px 8px #ccc;
	-o-box-shadow: 8px 2px 8px #ccc;
	-webkit-box-shadow: 8px 2px 8px #ccc;
}

.cart-bar .select-left {
	display: block;
	width: 100px;
	height: 50px;
	float: left;
	/*	background:#0C3;*/
	line-height: 50px;
	margin-left: 30px;
}
/*继续购物的a标签*/
.cart-bar a {
	font-size: 17px;
	color: #757575;
	text-decoration: none;
}

.cart-bar a:hover {
	font-size: 17px;
	color: #F03;
	text-decoration: none;
}

.cart-bar .total-price {
	font-size: 17px;
	color: #424242;
	/*	background:#0C3;*/
	line-height: 50px;
	padding-left: 300px;
}

.total-price span {
	font-size: 20px;
	color: #f03;
	font-weight: normal;
	padding-left: 30px;
}

.cart-bar .to-pay {
	float: right;
	background: #f03;
}

.to-pay a {
	display: block;
	width: 202px;
	height: 50px;
	color: #fff;
	font-size: 17px;
	text-decoration: none;
	line-height: 50px;
	text-align: center;
}

.to-pay a:hover {
	color: #fff;
	box-shadow: 0 0 1px #f03;
	-moz-box-shadow: 0 0 1px #f03;
	-ms-box-shadow: 0 0 1px #f03;;
	-o-box-shadow: 0 0 1px #f03;;
	-webkit-box-shadow: 0 0 1px #f03;
}

.no-cart {
	width: 100%;
	height: 450px;
	background: #fff;
	margin-top: 20px;
	border-top: 2px solid #DDD;
	box-shadow: 8px 8px 8px #eee;
	-moz-box-shadow: 8px 8px 8px #eee;
	-ms-box-shadow: 8px 8px 8px #eee;
	-o-box-shadow: 8px 8px 8px #eee;
	-webkit-box-shadow: 8px 8px 8px #eee;
	border-top: 2px solid #DDD;
}

.no-cart h2 {
	color: #DDD;
	font-size: 35px;
	text-align: center;
	font-weight: bold;
	margin-top: 100px;
}

.no-cart a {
	display: block;
	background: #f03;
	color: #fff;
	width: 200px;
	height: 60px;
	font-size: 17px;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
	margin: 70px 550px;
}

.no-cart a:hover {
	transform: translateY(-1px);
}